.footer{
    /* background-color: #000000; */
    background-image: url("/assets/footer.webp");
    color: #ffffff;
    padding-top: 44px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 3em;
}
#img-media{
    width: 31px;
    height: 31px;
}
.footer-inner-2{
    display: flex;    
    justify-content: center;
    padding: 3em 3.5em;
    gap: 30px;
}
.footer-inner-2>a{
    text-decoration: none;
    color: #ffff;
    font-size: 12px;
    display: flex;
    gap: 10px;
    align-items: center;
}

.footer-inner-2>a:hover{
    color: rgba(243, 236, 236, 0.576);
    transform:scale(1.3);
}
.footer-inner-1>h1{
    font-size: 40px;
    font-weight: 600;
    line-height: 121%;
    height: 49px;
    width: 350px;
    margin: 44px 0px 18px 55px;
}
.footer-inner-1>p{
    width: 784px;
    height: 38px;
    font-size: 16px;
    font-weight: 300;
    line-height: 121%;
    margin-left: 55px;
}