<div class="box" id="project">
  <section class="main-container">
    <div *ngFor="let item of projects" class="project-testi-outer">
      <!-- <img src="{{item.img}}" alt="projectimg" id="project-img" /> -->
      <img src="assets/temp.jpg" alt="projectimg" id="project-img" />
      <div class="project-testi-outer-box">
        <div class="project-testi-outer-box-1">
          <h3 id="heading">{{item.heading}}</h3>
          <section id="direct-logos-box">
            <a href="{{item.gitlink}}" target="_blank">
              <img src="assets/teck6.png" id="direct-logos" />
            </a>
            <a href="{{item.weblink}}">
              <img src="assets/link.png" id="direct-logos" />
            </a>
          </section>
        </div>
        <p id="desc">{{item.desc}}</p>
        <div class="project-testi-outer-box-2">
          <p *ngFor="let teck of item.teck" id="teck-info">{{teck}}</p>
        </div>
      </div>
    </div>
  </section>
</div>
