/* .homesection1{
    display: flex;
    justify-content: center;
    gap: 150px;
    margin-top: 102px;
    margin-bottom: 248px;
} */
 .box{
    display: flex;
    align-items: center;
    justify-content: center;
 }
.homesection1{
    display: grid;
    grid-template-rows: repeat(1,1fr);
    grid-template-columns: repeat(2,1fr);
    /* background-color: red; */
    margin-bottom: 248px;
    margin-top: 102px;
}
.homesection1-inner-1{
    display: flex;
    flex-direction: column;
}
.homesection1-inner-1>button{
    margin-top: 34px;
    height: 47px;
    width: 143px;
    border: none;
    border-radius: 45px;
    color: #ffff;
    background-color: #000000;
    font-weight: 700;
    font-style: Bold;
    font-size: 20px;
    letter-spacing: -2%;
}
.homesection1-inner-1>h1{
    margin-top: 50px;
    height: 174px;
    width: 617px;
    font-weight: 600;
    font-style: SemiBold;
    font-size: 45px;
}
.homesection1-inner-1>p{
    margin-top: 49px;
    height: 57px;
    width: 442px;
}
.homesection1-inner-2>img{
    width: 486px;
    height: 486px;
    border-radius: 14px;
    /* transition: transform 0.3s ease; */
    transform: perspective(600px) rotateY(10deg) rotateX(5deg) scale(1.05);
    box-shadow: 4px 4px 40.8px rgba(0, 0, 0, 0.06);
    object-fit: cover;
}
.homesection1-inner-1>h1>span{
    border-bottom: 3px solid #000000;
}

.homesection1-inner-1>button:hover{
    transform: scale(1.03);
    /* background-color: #6e05f87e; */
}
.homesection1-inner-2{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}